<nav class="pagination" role="navigation">
  <cs-pager cs-paging-pagesize="@Model.PageSize.Value"
            cs-paging-pagenumber="@Model.PageNumber.Value"
            cs-paging-totalitems="@Model.TotalItems.Value"
            cs-pagenumber-param="page-number"
            cs-show-first-last="false"
            cs-suppress-empty-nextprev="true"
            cs-remove-nextprev-links="false"
            cs-suppress-inactive-firstlast="true"
            cs-first-page-text="<"
            cs-last-page-text=">"
            cs-pager-li-current-class=""
            cs-pager-li-other-class=""
            cs-pager-li-non-active-class=""
            cs-pager-link-current-class="pagination-link is-current"
            cs-pager-link-other-class="pagination-link has-text-light"
            cs-previous-page-html="<a href='#' class='pagination-link has-text-light'>Previous</a>"
            cs-next-page-html="<a href='#' class='pagination-link has-text-light'>Next page</a>"
            asp-controller="@Model.ControllerName.Value"
            asp-action="@Model.ActionName.Value"
            asp-route-head-office-code="@Model.HeadOfficeCode.Value"
            asp-route-account-code="@Model.AccountCode.Value"
            asp-route-location-code="@Model.LocationCode.Value"
            asp-route-company-name="@Model.CompanyName.Value">
  </cs-pager>
</nav>