@model CustomersViewModel

<table class="table is-striped is-hoverable is-fullwidth">
  <tr>
    <th scope="col">
      @(Html.DisplayName<CustomerViewModel>(m => m.Id))
      <col-header asp-query-parameters="@Model.Parameters" 
         asp-controller="Customers" asp-route-page="@Model.PagedResult.PageNumber" asp-route-order="Id">
      </col-header>
    </th>
    <th scope="col">
      @(Html.DisplayName<CustomerViewModel>(m => m.CompanyName))
      <col-header asp-query-parameters="@Model.Parameters" 
         asp-controller="Customers" asp-route-page="@Model.PagedResult.PageNumber" asp-route-order="CompanyName">
      </col-header>
    </th>
    <th scope="col">
      @(Html.DisplayName<CustomerViewModel>(m => m.Region))
      <col-header asp-query-parameters="@Model.Parameters" 
         asp-controller="Customers" asp-route-page="@Model.PagedResult.PageNumber" asp-route-order="Region">
      </col-header>
    </th>
    <th scope="col">
      <a asp-action="New">
        <i class="fa fa-plus"></i>
      </a>
    </th>
  </tr>

  @foreach (var item in Model.PagedResult.Data)
  {
    <tr>
      <td>
        @item.Id
      </td>
      <td>
        @item.CompanyName
      </td>
      <td>
        @item.Region
      </td>
      <td>
        <a asp-action="Show" asp-route-id="@item.Id">
          <i class="fa fa-eye"></i>
        </a>
      </td>
    </tr>
  }

</table>

<nav class="pagination" role="navigation">
  <cs-pager
    cs-paging-pagenumber="@Model.PagedResult.PageNumber"
    cs-paging-pagesize="@Model.PagedResult.PageSize"
    cs-paging-totalitems="@Model.PagedResult.TotalItems"
    cs-pagenumber-param="page"
    cs-show-first-last="false"
    cs-suppress-empty-nextprev="true"
    cs-remove-nextprev-links="false"
    cs-suppress-inactive-firstlast="true"
    cs-first-page-text="<"
    cs-last-page-text=">"
    cs-pager-li-current-class=""
    cs-pager-li-other-class=""
    cs-pager-li-non-active-class=""
    cs-pager-link-current-class="pagination-link is-current"
    cs-pager-link-other-class="pagination-link has-text-light"
    cs-previous-page-html="<a href='#' class='pagination-link has-text-light'>Previous</a>"
    cs-next-page-html="<a href='#' class='pagination-link has-text-light'>Next page</a>"
    asp-controller="Customers"
    asp-action="Index"
    asp-route-id="@Model.Parameters.Id"
    asp-route-order="@Model.Parameters.OrderBy"
    asp-route-desc="@Model.Parameters.IsDescending.ToString().ToLower()">
  </cs-pager>
</nav>